<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="plastic_density" value="1050.0" />
    <xacro:property name="cover_length" value="0.2" />
    <xacro:property name="cover_width" value="0.2" />
    <xacro:property name="cover_height" value="0.012" />
    <xacro:property name="cover_mass" value="${plastic_density * cover_length * cover_width * cover_height}" />


    

    <xacro:macro name="bin_cover" params="prefix">

        <link name="${prefix}bin_cover_link">
            <visual>
                <geometry>
                    <!-- <mesh filename="package://bin_description/meshes/Cover.stl" scale="1 1 1"/> -->
                    <box size="${cover_length} ${cover_width} ${cover_height}"/>
                </geometry>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
                <material name="black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <!-- <mesh filename="package://bin_description/meshes/Cover.stl" scale="1 1 1"/> -->
                    <box size="${cover_length} ${cover_width} ${cover_height}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${cover_mass}"/>
                <inertia ixx="${(1/12) * cover_mass * ((cover_width * cover_width) + (cover_height * cover_height))}"  ixy="0.0"  ixz="0.0"  
                        iyy="${(1/12) * cover_mass * ((cover_length * cover_length) + (cover_height * cover_height))}"  iyz="0.0" 
                        izz="${(1/12) * cover_mass * ((cover_length * cover_length) + (cover_width * cover_width))}"/>
            </inertial>

        </link>
        <joint name="${prefix}bin_cover_joint" type="revolute">
            <parent link="${prefix}bin_top_link"/>
            <child link="${prefix}bin_cover_link"/>
            <origin xyz="0 0 ${bin_height}" rpy="0 0 0"/>
         
            <axis xyz="0 1 0"/>
            <limit lower="${-pi/2}" upper="0" effort="10" velocity="1.0"/>
        </joint>
    </xacro:macro>
</robot>