<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="wheel_mass" value="0.1" />
    <xacro:property name="wheel_width" value="0.0214" />
    <xacro:property name="wheel_radius" value="0.031755" />

    <xacro:property name="motor_mass" value="0.333" />


    

    <xacro:macro name="bin_motors" params="prefix">

        <link name="${prefix}left_motor_link">
            <visual>
                <geometry>
                    <mesh filename="package://bin_description/meshes/Left Motor.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 0.03 0" rpy="${pi/2} 0 ${-pi/2}"/>
                <material name="black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://bin_description/meshes/Left Motor.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 0.03 0" rpy="${pi/2} 0 ${-pi/2}"/>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${motor_mass}"/>
                <inertia
                ixx="9.5017439e-5" ixy="0.0" ixz="0.0"
                iyy="9.4629109e-5" iyz="-1.779997e-6"
                izz="4.9374579e-5"/>
            </inertial>

        </link>
        <joint name="${prefix}base_left_motor_joint" type="fixed">
            <parent link="${prefix}base_link"/>
            <child link="${prefix}left_motor_link"/>
            <origin xyz="0.065 0.07 -0.01" rpy="0 0 0"/>
        </joint>

        <link name="${prefix}right_motor_link">
            <visual>
                <geometry>
                    <mesh filename="package://bin_description/meshes/Left Motor.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 -0.03 0" rpy="${pi/2} 0 ${pi/2}"/>
                <material name="black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://bin_description/meshes/Left Motor.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 -0.03 0" rpy="${pi/2} 0 ${pi/2}"/>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${motor_mass}"/>
                <inertia
                ixx="9.5017439e-5" ixy="0.0" ixz="0.0"
                iyy="9.4629109e-5" iyz="-1.779997e-6"
                izz="4.9374579e-5"/>
            </inertial>
            
        </link>
        <joint name="${prefix}base_right_motor_joint" type="fixed">
            <parent link="${prefix}base_link"/>
            <child link="${prefix}right_motor_link"/>
            <origin xyz="0.065 -0.07 -0.01" rpy="0 0 0"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="bin_wheels" params="prefix">

        <link name="${prefix}left_wheel_link">
            <visual>
                <geometry>
                    <mesh filename="package://bin_description/meshes/Left Wheel.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
                <material name="black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://bin_description/meshes/Left Wheel.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${wheel_mass}"/>
                <inertia
                ixx="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}" ixy="0" ixz="0"
                iyy="${(wheel_mass/2.0) * (wheel_radius*wheel_radius)}" iyz="0"
                izz="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}"/>
            </inertial>

        </link>
        <joint name="${prefix}base_left_wheel_joint" type="continuous">
            <parent link="${prefix}left_motor_link"/>
            <child link="${prefix}left_wheel_link"/>
            <origin xyz="0 0.038 0" rpy="0 0 0"/>
            <axis xyz="0.0 1.0 0.0"/>
        </joint>

        <link name="${prefix}right_wheel_link">
            <visual>
                <geometry>
                    <mesh filename="package://bin_description/meshes/Right Wheel.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <material name="black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://bin_description/meshes/Right Wheel.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${wheel_mass}"/>
                <inertia
                ixx="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}" ixy="0" ixz="0"
                iyy="${(wheel_mass/2.0) * (wheel_radius*wheel_radius)}" iyz="0"
                izz="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}"/>
            </inertial>

        </link>
        <joint name="${prefix}base_right_wheel_joint" type="continuous">
            <parent link="${prefix}right_motor_link"/>
            <child link="${prefix}right_wheel_link"/>
            <origin xyz="0 -0.038 0" rpy="0 0 0"/>
            <axis xyz="0.0 1.0 0.0"/>
        </joint>

        
    </xacro:macro>

</robot>