<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="camera_mass" value="0.08525" />
    <xacro:property name="camera_length" value="0.025" />
    <xacro:property name="camera_width" value="0.028062" />
    <xacro:property name="camera_height" value="0.011346" />


    

    <xacro:macro name="bin_camera" params="prefix">

        <link name="${prefix}bin_camera_link">
            <visual>
                <geometry>
                    <mesh filename="package://bin_description/meshes/camera.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
                <material name="black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://bin_description/meshes/camera.stl" scale="1 1 1"/>
                </geometry>
                <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${camera_mass}"/>
                <inertia ixx="${(1/12) * camera_mass * ((camera_width * camera_width) + (camera_height * camera_height))}"  ixy="0.0"  ixz="0.0"  
                        iyy="${(1/12) * camera_mass * ((camera_length * camera_length) + (camera_height * camera_height))}"  iyz="0.0" 
                        izz="${(1/12) * camera_mass * ((camera_length * camera_length) + (camera_width * camera_width))}"/>
            </inertial>

        </link>
        <joint name="${prefix}bin_top_camera_joint" type="fixed">
            <parent link="${prefix}bin_top_link"/>
            <child link="${prefix}bin_camera_link"/>
            <origin xyz="${bin_length/2} 0 0.215" rpy="0 0 0"/>
        </joint>
    </xacro:macro>
</robot>